/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input {
  font: inherit;
}

/*  */

:root {
  --cyan: hsl(176, 50%, 47%);
  --cyandark: hsl(176, 72%, 28%);
  --grey: hsl(0, 0%, 48%);
  --greylight: hsl(0, 0%, 80%);
  --greylighter: hsl(0, 0%, 90%);
  --greylightest: hsl(0, 0%, 98%);
  --nav-grad-start: hsla(0, 0%, 0%, 40%);
  --nav-grad-end: hsla(0, 0%, 0%, 0%);
  --bkmk-circle: #2F2F2F;
  --bkmk-tag: #B1B1B1;
}

body {
  background-color: var(--greylightest);
  background-image: url(images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;

  font-family: 'Commissioner';
  line-height: 1.5rem;
}

.hidden {
  display: none;
}

.button {
  background-color: var(--cyan);
  font-family: 'Commissioner';
  color: white;
  outline: none;
  border: none;
  padding: 1rem 2.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3.5rem;
  transition: background-color 0.1s ease-out;
}

.button--slim {
  font-size: 0.9rem;
  padding: 1rem 1.5rem;
}

.button:hover {
  background-color: var(--cyandark);
}

.button--disabled {
  background-color: var(--grey);
}

.button--small {
  padding: 0 0;
}

.button--small .button__label {
  display: none
}

.card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border: solid 1px var(--greylighter);
  border-radius: 10px;
  user-select: none;
}

.card--disabled {
  opacity: 0.5;
}

.card__amount {
  border-radius: 100vh;
  border: solid 1px var(--greylight);
  font-weight: 700;
  padding-left: 50px;
  width: 60px;
}

.card__amount::before {
  content: '$';
  color: black;
  width: 50px;
}

.card__amounts {
  color: var(--grey);
}

.card__pledge {
  display: flex;
  justify-content: space-between;
}

.card__desc {
  color: var(--grey);
  font-size: 0.8rem;
}

.card__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.card__footer--small {
  font-size: 0.9rem;
}

.card__header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card__label {
  color: var(--grey);
}

.card__radio {
  appearance: none;
  border-radius: 50%;
  /* background: var(--cyan); */
  height: 22px;
  width: 22px;
  flex-shrink: 0;

  /* The border will be the spacing between the dot and the outer circle */
  border: 5px solid #FFF;

  /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
  box-shadow: 0 0 0 1px var(--greylighter);
}

.card__radio:checked {
  background: var(--cyan)
}

.card__rem {
  font-size: 2rem;
  font-weight: 700;
}

.card__rem--small {
  font-size: 1.25rem;
}

.card__sep {
  border: solid 1px var(--greylighter);
  margin: 0px -25px;
}

.card__stat {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card__subtitle {
  font-weight: 700;
  color: var(--cyan);
  font-size: 0.9rem;
}

.card__titles {
}

.card__title {
  font-weight: 700;
  font-size: 0.9rem;
}

.content {

}

.info {
  background: white;
  padding: 40px 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info__desc {
  color: var(--grey);
  font-size: 0.9rem;
}

.info__title {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.main {
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.summary__logo {
  top: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); 
}

.menu {
  position: fixed;
  font-size: 1.1rem;
  font-weight: 500;
  height: 100vh;
  width: 100%;
  padding: 5rem 25px 0px 25px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s;
}

.menu--hidden {
  display: none;
  opacity: 0;
}

.menu__item {
  border: solid 1px var(--greylighter);
}

.menu__items {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
}

.menu__item:nth-of-type(1) {
  border-radius: 10px 10px 0px 0px;
}

.menu__item:nth-last-child(1) {
  border-radius: 0px 0px 10px 10px;
}

.menu__link {
  padding: 25px;
  display: block;
  text-decoration: none;
  color: black;
}

.modal {
  border: none;
  border-radius: 10px;
  padding: 25px;
}

.modal__content--centred {
  text-align: center;
  align-items: center;
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal__close {
  background: none;
  border: none;
  cursor: pointer;
}

.modal__summary {
  color: var(--grey);
}

.modal__desc {
  color: var(--grey);
  font-size: 0.9rem;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__title {
  font-weight: 700;
  font-size: 1.2rem;
}

.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  background-image: linear-gradient(hsla(0, 0%, 0%, 40%), transparent);
  z-index: 1;
}

.navbar__item {

}

.navbar__items {
  display: none;
}

.navbar__logo {
  margin-right: auto;
  padding-left: 25px;
}

.navbar__menu {
  border: none;
  padding: 25px;
  background: none;
  cursor: pointer;
}

.stats {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 25px;
  padding: 40px 25px;
}

.stats__label {
  color: var(--grey);
  font-size: 0.85rem;
}

.stats__metric {
  font-size: 2rem;
  font-weight: 700;
}

.stats__metrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.stats__progress {
  border-radius: 100vh;
  /* -webkit-appearance: none; */
  width: 100%;
  height: 12px;
}

.stats__progress::-webkit-progress-bar {
  background-color: var(--greylighter);
  border-radius: 100vh;
}

.stats__progress::-webkit-progress-value {
  background-color: var(--cyan);
  border-radius: 100vh;
}

.stats__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.stats__sep {
  width: 100px;
  border: solid 1px var(--greylighter);
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  margin-top: 140px;
  padding: 60px 25px 40px 25px;
  background: white;
  text-align: center;
  border-radius: 10px;
}

.summary__actions {
  display: flex;
  justify-content: space-between;
}

.summary__desc {
  color: var(--grey);
  font-size: 0.9rem;
}

.summary__title {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.flex-centred {
  align-items: center;
}
